@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html{
    font-family: 'Architects Daughter', cursive;
}

body{
    margin: auto;
    height: 100vh;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    width: 60vw;
}
#header{
    display: flex;
    justify-content: center;
}
#create-btn{
    background-color: rgb(219, 215, 215);
    border: 3px solid rgb(255, 255, 255);
    cursor:pointer;
    font-size: 20px;
    flex-basis: 20px;
    font-family: 'Architects Daughter', cursive;
    align-self: end;
}

.grid{
    border: 2px solid red;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    column-gap: 0;
    row-gap: 0;
    justify-content: center;
}

.grid-square{
    min-height: 10px;
    border: 1px solid black;
}

.filled{
    background-color: black;
}
